{% extends "base.html" %}

			{% block content %}
<div id="content">
<h3>Что вы натворили? 404! Вы чуть не сломали базу!</h3>

<p>На самом деле вы просто ввели неправильный адрес, <a href="/">начните сначала</a> или попробуйте поискать среди команд в меню</p>

<div id="rating">
    А тут пока полежит тестовый вариант автообновляемого рейтинга. Как всегда, css нет. Кроме того, пока эта таблица не умеет распознавать,
    какой матч последний, если их за один день сыграно несколько (а у любителей такое бывает!). Как всегда, "трением пренебречь".

    <div class="table-responsive">
		<table class="table table-hover">
        <th>#</th><th>Команда</th><th>Рейтинг</th>
        {% for team in rating %}
        <tr>
            <td>{{forloop.counter}}</td><td>{{team.0}}</td><td>{{team.1}}</td>
	    </tr>
	    {% endfor %}
    </table>
</div>
</div>
			{% endblock%}
