{% extends "base.html" %}

{% block content %}



<div id="content">
<h3>Добавьте новый протокол</h3>
<form method="POST" id="new_match_form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type"submit" class="save btn btn-default">Отправить</button>
</form>
</div>

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<script type="text/javascript" src="/adddmin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>

{% endblock %}