{% extends "base.html" %}

{% block content %}
<div class="col-md-9" id="content">
{% if matches.count > 0 %}
    {% block title %}
    <h2>Все матчи команды: {{team}}</h2>
    <div id="team">
    {% if team.logo %}
    <div class="logo" style="float: right;">
    <img src="{{team.logo}}" width="200"/>
    </div>
    {% endif %}
    {% if team.link %}
    <div class="url">
    <a href="{{team.link}}">{{team.link}}</a>
    </div>
    {% endif %}
    {% if team.foundation %}
    <div class="foundation">
    Год основания: {{team.foundation}}
    </div>
    {% endif %}
    {% if rating %}
    <div class="rating">
    Текущий рейтинг: {{rating}}
    </div>
    {% endif %}
    {% if team.story %}
    <div class="story">
    {{team.story|safe}}
    </div>
    {% endif %}
    </div>
    {% endblock %}
    <div style="clear: both;"></div>
    <div class="table-responsive">
		<table class="table table-hover">
    {% for match in matches %}
        {% ifchanged %}<tr><td colspan="4"><h3>{{ match.year }}</h3></td></tr>{% endifchanged %}
	<tr>
		<td><a href="/tourn/{{match.tournament}}/">{{match.tournament}}</a></td>
		<td>{% if match.doubtdate %} {{match.doubtdate}} {% else %} {{match.match_date}}
		    {% endif %}</td>
		<td>{% if match.home_link.latin and match.home_link.latin != team.latin %}
			    <a href="/teams/{{match.home_link.latin}}/">{{match.home}}</a>
			{% else %}
			    {{match.home}}
			{% endif %}
			 -
			{% if match.away_link.latin and match.away_link.latin != team.latin %}
			<a href="/teams/{{match.away_link.latin}}/">{{match.away}}</a>
			{% else %}
			    {{match.away}}
			{% endif %}
			 -
			 {{match.get_score}}
		</td>
		<td>
		{% if match.home_scorers or match.away_scorers or match.ref or match.stadium %}
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#match{{match.match_id}}">Очки, судья, стадион</button>
		<div class="modal fade" id="match{{match.match_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{match.home}} - {{match.away}} - {{match.get_score}}
		</div>
		<div class="modal-body">
		    <div class="dialog">
		    {{match.home_scorers}} // {{match.away_scorers}}
		    </div>
		{% if match.ref or match.stadium %}
			<div class="dialog">
		{% if match.ref %}Судья - {{match.ref}}.{% endif %}
		{% if match.stadium %}Стадион {{match.stadium}}{% endif %}
		{% if match.comment %}<br>{{match.comment|safe}}{% endif %}
			</div>
		{% endif %}
		</div>
		{% endif %}</td>
	</tr>
    {% endfor %}
	</table>

{% else %}

<p>Что-то мне подсказывает, что нет такой команды в моей базе данных</p>
{% endif %}
</div>
{% endblock %}